<div class="main-article-container columns">
  <%= link_to article_path(@article), class: "main-article-image" do %>
    <%= image_tag("#{@article.image}", class: "main-article-image column px-4 py-4" ) %>
  <% end %>
  <%= link_to article_path(@article), class: "main-article-title" do %>
    <h2><%= @article.title %></h2>
  <% end %>
  <h4 class="main-article-description"><%= @article.text %></h4>
</div>

<div class="columns">
  <% @categories.each do |cat| %>
    <a href="<%= category_path(cat.id) %>" class="column">
      <div class="category-background-images is-size-4 has-text-weight-bold" style="background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5074404761904762) 50%, rgba(20,20,20,1) 100%), url(<%= cat.articles.last.image %>);">
        <h3 class="category-title pl-5 pt-5"><%= cat.name %></h3>
        <h3 class="category-article-title pl-5 pb-5"><%= cat.articles.last.title %></h3>
      </div>
    </a>
  <% end %>
</div>