<section class="section">
  <div class="columns is-centered">
    <div class="column is-two-fifths">
    <h1 class="title has-text-white has-text-centered">Sign Up</h1>

      <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
          <p><%= e %></p>
        <% end %>
      <% end %>

      <%= form_with model: @user do |f|%>
        <div class="card is-rounded">
          <div class="field card-content pb-1">
            <%= f.label :name, "Username", class: 'label' %>
            <p class="control has-icons-left has-icons-right">
              
              <%= f.text_field :name, class: 'input', placeholder: 'Username' %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field card-content pt-1 pb-1">
            <%= f.label :email, class: 'label' %>
            <p class="control has-icons-left has-icons-right">
              
              <%= f.email_field :email, class: 'input', placeholder: 'Email' %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>

          <div class="field card-content pt-1 pb-1">
            <%= f.label :password, class: 'label' %>
            <p class="control has-icons-left has-icons-right">
              
              <%= f.password_field :password, class: 'input' %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field card-content pt-1 pb-1">
            <%= f.label :password_confirmation, class: 'label' %>
            <p class="control has-icons-left has-icons-right">
              
              <%= f.password_field :password_confirmation, class: 'input' %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="control card-content pt-1 has-text-centered">
            <%= f.submit class: 'button is-orange has-text-white' %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</section>